<div class="bg-gray-800 flex flex-col text-white shadow-lg p-5 h-screen">
  <div class="text-xl font-bold tracking-wide border-b border-gray-600 pb-4 mb-4 text-center">
    📂 Menü
  </div>

  <nav class="flex flex-col gap-3">
    <a routerLink="" class="flex items-center gap-3 px-4 py-3 rounded-lg hover:bg-gray-700 transition duration-300">
      Anasayfa
    </a>
    <a routerLink="questions"
       class="flex items-center gap-3 px-4 py-3 rounded-lg hover:bg-gray-700 transition duration-300">
      Sorular
    </a>
    <a routerLink="categories"
       class="flex items-center gap-3 px-4 py-3 rounded-lg hover:bg-gray-700 transition duration-300">
      Kategoriler
    </a>
    <a routerLink="images"
       class="flex items-center gap-3 px-4 py-3 rounded-lg hover:bg-gray-700 transition duration-300">
      Resimler
    </a>
    <a routerLink="blogs"
       class="flex items-center gap-3 px-4 py-3 rounded-lg hover:bg-gray-700 transition duration-300">
      Bloglar
    </a>
    <a routerLink="users"
       class="flex items-center gap-3 px-4 py-3 rounded-lg hover:bg-gray-700 transition duration-300">
      Kullanıcılar
    </a>
  </nav>
</div>
